@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: "Poppins";
  font-size: 0.8rem;
  padding: 12px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: transparent;
  color: #000000;
}

.btn-secondary {
  font-size: 0.75rem;
  color: #fff;
  background-color: #000000;
  border-radius: 50px;
  padding: 12px 35px;
  font-weight: 500;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15), 0px 2px 15px rgba(0, 0, 0, 0.15);
}

.btn-primary-link a {
  font-size: 0.8rem;
  color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  background-color: #FF8100;
}

.btn-next {
  padding: 0px;
  color: #fff;
  background-color: #FF8100;
}
.btn-next span {
  margin-left: 10px;
}

.btn-back {
  color: #C4C4C4;
  background-color: transparent;
}
.btn-back span {
  margin-right: 10px;
}

.btn-back-link {
  color: #C4C4C4;
  font-size: 0.8rem;
}
.btn-back-link span {
  margin-right: 10px;
}

nav {
  height: 100px;
  padding: 10px 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #000;
}
.brand .logo {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  border-bottom: 1px solid #000000;
}
.brand .logo ~ p {
  margin-top: 8px;
  font-size: 0.75rem;
}

.user-sign-in button:first-of-type {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .brand {
    width: 40%;
  }
  .brand .logo {
    font-size: 0.9rem;
  }
  .brand .logo ~ p {
    margin-top: 5px;
    font-size: 0.8rem;
  }

  .user-sign-in button:first-of-type {
    margin-right: 0px;
  }
}
@media (max-width: 540px) {
  .brand {
    width: 45%;
  }
  .brand .logo {
    font-size: 0.8rem;
  }
  .brand .logo ~ p {
    margin-top: 5px;
    font-size: 0.7rem;
  }

  .user-sign-in button {
    font-size: 0.7rem;
    padding: 12px 20px;
  }
  .user-sign-in button:first-of-type {
    margin-right: 0px;
  }
}
@media (max-width: 420px) {
  .brand {
    width: 40%;
  }
  .brand .logo {
    font-size: 0.8rem;
  }
  .brand .logo ~ p {
    margin-top: 5px;
    font-size: 0.7rem;
  }

  .user-sign-in button {
    font-size: 0.7rem;
    padding: 10px 18px;
  }
  .user-sign-in button:first-of-type {
    margin-right: 0px;
  }
}
.question-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.question-container p:first-child {
  margin-bottom: 10px;
}
.question-container h1 {
  align-self: center;
  width: 80%;
  margin-top: 0px;
}

#question0 {
  padding-top: 30px;
}

.name-input {
  align-self: center;
  border: none;
  width: 50%;
  padding: 18px;
  border-bottom: 1px solid grey;
  background-color: transparent;
}

.nav-btn {
  width: 35%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn button {
  padding: 12px 25px;
}

@media (max-width: 540px) {
  .name-input {
    width: 80%;
    font-size: 0.8rem;
    padding: 12px;
    margin-top: 10px;
  }

  .nav-btn {
    width: 65%;
  }
}
.answer-group {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.answer-group button {
  width: calc(50% - 20px);
  border-radius: 0;
}

.answer-one-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
.answer-one-group button {
  width: calc(50% - 20px);
  border-radius: 0;
}

.answer-one-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
}
.answer-one-column button {
  width: 50%;
  border-radius: 0;
}

.answer-fill button {
  border: 3px solid #eaeaea;
  padding: 80px;
}

.answer-outline button {
  font-size: 0.75rem;
  border-radius: 5px;
  border: 3px solid #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 22px;
  background-color: #fff;
}

.alert {
  font-size: 1rem;
  padding-top: 20px;
}

.select-alert {
  padding-top: 20px;
}

.answer-fill .active, .answer-outline .active {
  border: 3px solid #FF8100;
  box-shadow: 0px 6px 10px rgba(255, 128, 0, 0.1), 0px 2px 10px rgba(255, 128, 0, 0.1);
}

@media (max-width: 540px) {
  .answer-one-column button {
    font-size: 0.7rem;
    padding: 16px 22px;
    width: 100%;
  }
}
.user-container a {
  padding: 0px;
  color: #074EE8;
  background-color: transparent;
}

.title-section {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-section > h1 {
  width: 60%;
}
.title-section p {
  font-size: 0.9rem;
}

.field-section {
  width: 100%;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.hero-text {
  margin-top: 20px;
  background-color: #ffebd6;
}
.hero-text .hero-text-flex {
  display: flex;
  align-items: center;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.hero-text .hero-text-flex .description {
  width: 50%;
}
.hero-text .hero-text-flex .description p:first-of-type {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 0px;
}
.hero-text .hero-text-flex .description span {
  text-decoration: underline;
}
.hero-text .hero-text-flex .description p:nth-child(3) {
  margin-top: 20px;
}
.hero-text .hero-text-flex .description .user-pick {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0;
}
.hero-text .hero-text-flex .description .language, .hero-text .hero-text-flex .description .field {
  display: flex;
}
.hero-text .hero-text-flex .description .language:before {
  background-image: url(./../../assets/Google-Code.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 2px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
}
.hero-text .hero-text-flex .description .field:before {
  background-image: url(./../../assets/Organization.png);
  background-repeat: no-repeat;
  background-size: 25px;
  display: inline-block;
  background-position: 0 2px;
  width: 30px;
  height: 30px;
  content: "";
}
.hero-text .hero-text-flex .result-image {
  background-image: url(../../assets/result_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 350px;
}
.hero-text .navigate-down {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.hero-text .navigate-down div {
  background-image: url(../../assets/Double-Down.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  height: 50px;
  width: 50px;
}
.hero-text .navigate-down a {
  color: #000;
}

.left-results-section {
  width: 55%;
}
.left-results-section ul:nth-child(2) {
  margin-bottom: 80px;
}

.right-results-section {
  width: 35%;
  padding-bottom: 30px;
}
.right-results-section div {
  height: 150px;
  background-color: #e2e2e2;
  border: 1px solid grey;
}
.right-results-section p {
  font-size: 0.7rem;
  margin: 5px 0;
}

.bottom-results-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.separator-line {
  margin-top: 20px;
  width: 2px;
  background-color: #e2e2e2;
  height: 620px;
}

.separator-line-bottom {
  height: 2px;
  background-color: #e2e2e2;
  width: 100%;
  margin-bottom: 30px;
}

.return {
  border-top: 2px solid #e2e2e2;
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return p {
  font-size: 1.2rem;
  padding-bottom: 5px;
}

@media (max-width: 940px) {
  .hero-text .hero-text-flex .result-image {
    width: 280px;
    height: 260px;
  }

  iframe {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-text .wrapper {
    flex-direction: column;
  }
  .hero-text .wrapper .description {
    width: 100%;
  }
  .hero-text .wrapper .description p:first-of-type {
    font-size: 1.4rem;
  }
  .hero-text .wrapper .result-image {
    margin-top: 20px;
    width: 80%;
    align-self: center;
    height: 300px;
  }

  .left-results-section, .right-results-section {
    width: 100%;
  }

  .left-results-section ul:nth-child(2) {
    padding-bottom: 0px;
  }

  .separator-line {
    display: none;
  }

  iframe {
    width: 100%;
    height: 260px;
  }

  .return {
    text-align: center;
  }
}
@media (max-width: 540px) {
  iframe {
    height: 200px;
  }
}
@media (max-width: 380px) {
  iframe {
    height: 150px;
  }
}
.progress {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.progress div {
  display: block;
  height: 13px;
  width: 13px;
  border: 3px solid #C4C4C4;
  border-radius: 50%;
}
.progress .step-complete {
  background-color: #FF8100;
  border: 3px solid #FF8100;
}

.prog-container {
  display: flex;
  justify-content: center;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  background-color: #FFFAF5;
  line-height: 1.7;
}

h1 {
  font-size: 1.2rem;
  line-height: 1.7;
}

h2 {
  font-size: 0.85rem;
  font-weight: 600;
}

p, li {
  font-size: 0.7rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.landing-page {
  height: 100vh;
}
.landing-page main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-image {
  background-image: url(../../assets/hero_image.png);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

main p {
  text-align: center;
  font-size: 0.75rem;
  width: 70%;
}
main p:first-of-type {
  margin-top: 20px;
  margin-bottom: 0px;
}
main p:last-of-type {
  margin-top: 20px;
  margin-bottom: 40px;
}

.loading-results {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.loading-results h1 {
  font-weight: 600;
}

.load-icon {
  transform: scale(1.5);
}

.load-icon svg {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  transform: rotate(90deg);
  transform-origin: 10px;
  -webkit-animation: rotate 2s infinite ease-in-out;
          animation: rotate 2s infinite ease-in-out;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
footer {
  padding: 20px 0;
  background-color: #d5d5d5;
}
footer > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
}

@media (max-width: 540px) {
  h1 {
    font-size: 1rem;
  }

  .wrapper {
    width: 82%;
  }

  main p {
    font-size: 0.7rem;
    width: 80%;
  }
}/*# sourceMappingURL=App.css.map */