$primary-color: #074EE8;
$secondary-color: #E5E5E5;

@import './partials/setup';
@import './partials/button';
@import './partials/navigation';
@import './partials/userQuestions';
@import './partials/answers';
@import './partials/results';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


html {
    font-size: 125%; // makes font 20px
}

body {
    font-family: 'Poppins';
}

h1 {
    font-size: 1.4rem;
    line-height: 1.7;
}

h2 {
    font-size: 0.9rem;
}

p, li {
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.landing-page {
    height: 100vh;
    main {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.welcome-image {
    background-image: url(../../assets/undraw_placeholder.png);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.welcome-image ~ p {
    line-height: 1.5;
    text-align: center;
    width: 70%;
    margin: 50px auto;
}

.loading-results {
    display: flex;
    justify-content: center;
}

.spinner {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: #333;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

  footer {
      padding: 20px 0;
      background-color: $secondary-color;
      > div:nth-of-type(1) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .footer-info {
          display: flex;
          flex-direction: column;
      }
  }