nav {
    height: 20vh;
    padding: 10px 0;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: #000;
    .logo {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 1rem 0 0 0;
        border-bottom: 1px solid $secondary;
        & ~ p {
            margin-top: 8px;
            font-size: 0.8rem;
        }
    }
}

.user-sign-in {
    button:first-of-type {
        margin-right: 20px;
    }
}