.loading-results {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    height: 50vh;
    h1 {
        font-weight: 600;
    }
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    form {
        width: 55%;
        label {
            font-size: 1.4rem;
            font-weight: 600;
            padding-right: 20px;
        }
        input {
            border: none;
            border-bottom: 1px solid grey;
        }
    }
    p {
        width: 35%;
    }
}

.left-results-section {
    width: 55%;
    div {
        height: 300px;
        background-color: #e2e2e2;
    }
}


.right-results-section {
    width: 35%;
    padding-bottom: 30px;
    div {
        height: 150px;
        background-color: #e2e2e2;
    }
    p {
        font-size: 0.7rem;
        margin: 5px 0;
    }
}

.bottom-results-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    .bottom-results-links {
        width: 35%;
    }
    .bottom-results-image {
        width: 55%;
        height: 300px;
        background-color: #e2e2e2;
    }
}