.question-container {
    padding-top: 10px;
    text-align: center;
}

.name-input {
    border: none;
    width: 50%;
    padding: 18px;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

.nav-btn {
    width: 35%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        padding: 12px 25px;
    }
}
