.question-container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.question-container {
    padding-top: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    p:first-child {
        margin-bottom: 10px;
    }
    h1 {
        align-self: center;
        width: 80%;
        margin-top: 0px;
    }
}

#question0 {
    margin-top: -180px;
}

#question1 {
    margin-top: -100px;
}

.name-input {
    align-self: center;
    border: none;
    width: calc(450px + 5vw);
    padding: 18px;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

.nav-btn {
    width: calc(450px + 5vw);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        padding: 12px 25px;
    }
}


@media (max-width: 540px) {
    .name-input, .nav-btn {
        width: calc(350px + 5vw);
    }
}

@media (max-width: 420px) {
    .name-input, .nav-btn {
        width: calc(320px);
    }
}