.question-container {
    text-align: center;
}

.name-input {
    border: none;
    width: 50%;
    padding: 18px;
    border-bottom: 1px solid grey;
}

.nav-btn {
    width: 40%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        padding: 12px 25px;
    }
}
